<header>
    <h1>Detalji o favoritu</h1>
</header>
<main>
    <div id="serijaDetalji">
        <img class="poster" src="/slike/bazen.jpg" alt="posterSerije">
        <h1 class="naziverije">Naziv serije</h1>
        <h3>Opis serije</h3>
        <p>neki opis</p>
        <h3>Broj sezona</h3>
        <p>3</p>
        <h3>Popularnost</h3>
        <p>4.5</p>
        <h4><a href="http://homepage.com">Homepage</a></h4> <!--link na vanjsku stranicu ? -->
    </div>
    <div id="favoritDetalji">
        <img class="poster" src="/slike/galerija1.jpg" alt="posterSerije">
        <h1 class="naziverije">Sezona</h1>
        <h3>Opis sezone</h3>
        <p>neki opis</p>
        <h3>Broj Sezone</h3>
        <p>1</p>
        <h3>Broj epizoda sezone</h3>
        <p>20</p>
        <h3>TMDB Id</h3>
        <p>92239</p>
    </div>
</main>