<header>
    <h1>Detalji o favoritu</h1>
</header>
<main>
    <img class="poster" [src]="favorit?.putanjaSlike" alt="Poster serije">
    <h1 clsass="naslovSerije">Naziv serije</h1>
    <h3>{{favorit?.naziv}}</h3>
    <p>{{favorit?.opis}}</p>
    <h3>Broj sezona</h3>
    <p >{{favorit?.brojSezona}}</p>
    <h3>Broj epizoda</h3>
    <p >{{favorit?.brojEpizoda}}</p>
    <h3>Popularnost</h3>
    <p >{{favorit?.popularnost}}</p>
    <h4><a [href]="favorit?.vanjskaStranica" target="_blank">Poveznica na vanjsku stranicu</a></h4>

    <h1 clsass="naslovSerije">Sezone</h1>
    <table>
        <tr>
            <th class="naziv" scope='col'>Naziv</th>
            <th scope='col'>Opis</th>
            <th scope='col'>Broj epizoda</th>
            <th scope='col'></th>
        </tr>
        @for (s of sezone; track s.naziv) {
            <tr>
                <td class="naziv">{{s.naziv}}</td>
                <td>{{s.opis}}</td>
                <td>{{s.brojEpizoda}}</td>
                <td><img class="posterSezone" [src]="putanja + s.putanjaPostera" alt="poster"></td>
            </tr>
        }
    </table>
    <br>
    <button (click)="izbrisiFavorita()"> Izbriši favorita </button>
</main>