header {
    text-align: center;
    margin: 20rem auto;
    padding: 20px;
    width: 50%;
    background-color: #dcf9d7;
    border-bottom: 2px solid #ddd;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
