<nav>
    <div>
        <a class="nav-link" routerLink="/">Početna</a>
        <a class="nav-link" routerLink="/registracija">Registracija</a>
        <a class="nav-link" routerLink="/favoriti">Favoriti</a>
        <a class="nav-link" routerLink="/korisnici">Korisnici</a>
        <a class="nav-link" routerLink="/dnevnik">Dnevnik</a>
        <a class="nav-link" routerLink="/dokumentacija">Dokumentacija</a>
    </div>
    <div id="prijvaOdjava">
        <a class="nav-link" routerLink="/prijava">Prijava</a>
        <a class="nav-link" routerLink="/profil">Profil</a>
        <a class="nav-link" routerLink="/odjava" (click)="odjavi()">Odjava</a>
    </div>
</nav>