<header>
    <h1>Favoriti</h1>
</header>
<main>
    <div class="jedanFavorit">
        <hr>
        <h3 class="favoritiNaziv">Teen Wolf</h3>
        <p class="favoritiOstalo">Broj sezona:</p> <p class="favoritiOstalo">6</p>
        <br>
        <p class="favoritiOstalo">Popularnost</p> <p class="favoritiOstalo">4.7</p>
        <br>
    </div>
    <hr>
    <div>
        <h3 class="favoritiNaziv">Mala nevjesta</h3>
        <p class="favoritiOstalo">Broj sezona:</p> <p class="favoritiOstalo">20</p>
        <br>
        <p class="favoritiOstalo">Popularnost</p> <p class="favoritiOstalo">3.6</p>
        <br>
    </div>
    <hr>
    <a href="/favoritiDetalji">Favoriti Detalji</a>
</main>