<header>
    <h1>Detalji o seriji</h1>
</header>
<main>
    <input type="hidden" id="idSerije" name="idSerije" value="#idSerije#">
    <img id="poster" class="poster" src="#" alt="Poster serije">
    <h1 id="nazivSerije">Naziv serije</h1>
    <h3>Opis serije</h3>
    <p id="opsiSerije">neki opis</p>
    <h3>Broj sezona</h3>
    <p id="brojSezona" >3</p>
    <h3>Broj epizoda</h3>
    <p id="brojEpizoda" >9329</p>
    <h3>Popularnost</h3>
    <p id="popularnost" >4.5</p>
    <h4><a id="vanjskaStranica" href="#" target="_blank">Poveznica na vanjsku stranicu</a></h4>
    <button id="dodaj" type="button">Dodaj u favorite</button>
</main>