
<header><h1>Dokumentacija</h1></header>
<main>
    <div id="ListaPodatci">
        <img src="assets/autor.jpg" alt="slikaLica">
        <ul>
            <li>Magdalena Markovinović</li>
            <li>E-mail: <a href="mailto:mmarkovin21@foi.hr">mmarkovin21foi.hr</a></li>
        </ul>
        <a href="assets/era_ispravljeno.png" target="_blank">
            <img id="era" src="assets/era_ispravljeno.png" alt="era model">
        </a>
    </div>
    <div id="tablica2">
        <h2>Tablica 2.</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">Resurs <br> parametri</th>
                    <th scope="col">GET <br> čitanje</th>
                    <th scope="col">POST <br> kreiranje</th>
                    <th scope="col">PUT <br> ažuriranje</th>
                    <th scope="col">DELETE <br> brisanje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>baza/korisnici </td>
                    <td>Napravljeno(vraća sve korisnike 200)</td>
                    <td>Napravljeno(kreira novog korisnika)</td>
                    <td>Napravljeno(501) </td>
                    <td>Napravljeno(501) </td>
                </tr>
                <tr>
                    <td>baza/korisnici/{{ "{korime}" }} </td>
                    <td>Napravljeno(vraća podatke određenog
                        korisnika)</td>
                    <td>Napravljeno ("zabranjeno 405")</td>
                    <td>Napravljeno (ažurira korisnika 201) </td>
                    <td>Napravljeno (briše korisnika 201)</td>
                </tr>
                <tr>
                    <td>baza/korisnici/{{ "{korime}" }}/prijava </td>
                    <td>Napravljeno <br> (Vraća JWT token u
                        zaglavlju ako postoji
                        sesija 201. <br> Ako ne
                        postoji sesija javlja
                        “zabranjen pristup” 401)</td>
                    <td>Napravljeno(Provjerava podatke
                        prijave, ako su
                        ispravni kreira sesiju.
                        201)</td>
                    <td>Napravljeno(501) </td>
                    <td>Napravljeno(501) </td>
                </tr>
                <tr>
                    <td>baza/favoriti </td>
                    <td>Napravljeno(Vraća sve podatke serija
                        spremljenih u favorite
                        prijavljenog korisnika 200)</td>
                    <td>Napravljeno(Dodaje novu seriju u
                        favorite prijavljenog
                        korisnika 201)</td>
                    <td>Napravljeno(501) </td>
                    <td>Napravljeno(501) </td>
                </tr>
                <tr>
                    <td>baza/favoriti/{{ "{id}" }} </td>
                    <td>Napravljeno(Vraća sve podatke tražene
                        serije u favoritima
                        prijavljenog korisnika 201)</td>
                    <td>Napravljeno("zabranjeno 405")</td>
                    <td>Napravljeno("zabranjeno 405") </td>
                    <td>Napravljeno</td>
                </tr>
                <tr>
                    <td>baza/dnevnik </td>
                    <td></td>
                    <td>Napravljeno(501)</td>
                    <td>Napravljeno(501) </td>
                    <td>Napravljeno(501)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div id="tablica3">
        <h2>Tablica 3.</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">Uloga</th>
                    <th scope="col">Stranica/e</th>
                    <th scope="col">Opis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gost/Korisnik</td>
                    <td>Pocetna</td>
                    <td>Napravljeno učitavanje serija. <br>
                        Nema straničenja.
                    </td>
                </tr>
                <tr>
                    <td>Gost/Korisnik</td>
                    <td>SerijaDetalji</td>
                    <td>Napravljeno</td>
                </tr>
                <tr>
                    <td>Gost</td>
                    <td>Dokumentacija</td>
                    <td>Napravljeno</td>
                </tr>
                <tr>
                    <td>Gost</td>
                    <td>Prijava/Odjava</td>
                    <td>Napravljeno</td>
                </tr>
                <tr>
                    <td>Korisnik</td>
                    <td>Profil</td>
                    <td>Napravljeno</td>
                </tr>
                <tr>
                    <td>Korisnik</td>
                    <td>Favoriti</td>
                    <td>Napravljeno</td>
                </tr>
                <tr>
                    <td>Korisnik</td>
                    <td>FavoritiDetalji</td>
                    <td>Napravljeno</td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td>Registracija</td>
                    <td>
                    Napravljeno <br>
                    Slanje E-maila i dalje ne funkcionira.
                    </td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td>Korisnici</td>
                    <td>Napravljeno <br>
                        Nije ograničeno brisanje admina
                    </td>
                </tr>
                <tr>
                    <td>Admin</td>
                    <td>Dnevnik</td>
                    <td>Samo prikazivanje html stranice(dummy data)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div id="tablica4">
        <h2>Tablica 4.</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">Uloga</th>
                    <th scope="col">Stranica/e</th>
                    <th scope="col">Opis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Zadatak 1. </td>
                    <td>Napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 2. </td>
                    <td>Napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 3. </td>
                    <td>Napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 4. </td>
                    <td>Napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 5. </td>
                    <td>Napravljeno. Sve su stranice prebačene u angular. </td>
                </tr>
                <tr>
                    <td>Zadatak 6. </td>
                    <td>Napravljeno. Aplikacija se kompajlira i može se pokrenuti sa npm start (može i sa ng serve ali to mi je služilo za testiranje). </td>
                </tr>
                <tr>
                    <td>Zadatak 7. </td>
                    <td>Napravljeno. Dokumentacija u cijelosti prebačena u angular. </td>
                </tr>
                <tr>
                    <td>Zadatak 8. </td>
                    <td>Napravljeno. Svi servisi su spremljeni u dirwktorij server/splikacija </td>
                </tr>
                <tr>
                    <td>Zadatak 9. </td>
                    <td>Napravljeno. Ako se pritisne bilo koji link, traži se prijava</td>
                </tr>
                <tr>
                    <td>Zadatak 10. </td>
                    <td>Napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 11. </td>
                    <td>Napravljeno. Dizajn napravljen sa scss-om. Većina se nalazi u styles.scss datoteci. </td>
                </tr>
                <tr>
                    <td>Zadatak 12. </td>
                    <td>Napravljeno. <br>
                    ReCaptcha provjerava sve tri forme koje postoje u aplikaciji(prijava, registracija i profil). <br>
                    Na profilu je bitno stisnuti promjeni podatke.
                 </td>
                </tr>
                <tr>
                    <td>Zadatak 13. </td>
                    <td>Nije napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 14. </td>
                    <td>Nije napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 15. </td>
                    <td>Nije napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 16. </td>
                    <td>Nije napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 17. </td>
                    <td>Nije napravljeno </td>
                </tr>
                <tr>
                    <td>Zadatak 18. </td>
                    <td>Nije napravljeno </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>