<header>
    <h1>Početna</h1>
</header>
<main>
    <form action="POST">
        <input id="pretrazivanje" name="pretrazivanje" type="text" placeholder="Pretraži..." [(ngModel)]="filter" (keyup)="filtriraj()">
    </form>
    @if (serije.length > 0) {
        <table>
            <tr>
                <th scope='col'>Naslov</th>
                <th scope='col'>Opis</th>
                <th></th>
            </tr>
            @for (s of serije; track s.id) {
                <tr>
                    <td>{{s.name}}</td>
                    <td>{{s.overview}}</td>
                    <td><button (click)="posaljiId(s.id)">Detalji serije</button></td>
                </tr>
            }
        </table>
    }
</main>