<header>
    <h1>Dnevnik</h1>
</header>
<main>
    <div class="gumbiDnevnik">
        <button type="button">Početna</button>
        <button type="button">Serija-detalji</button>
        <button type="button">Favoriti</button>
        <button type="button">Favoriti-detalji</button>
        <button type="button">Dokumentacija</button>
        <button type="button">Registracija</button>
        <button type="button">Korisnici</button>
        <button type="button">Profil</button>
        <button type="button">Prijava</button>
        <button type="button">Odjava</button>
    </div>
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Datum</th>
                <th scope="col">Vrijeme</th>
                <th scope="col">Metoda</th>
                <th scope="col">Akcija</th>
                <th scope="col">Traženi resurs</th>
                <th scope="col">Tijelo</th>
                <th scope="col">ID Korisnika</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2</td>
                </tr>
            </tbody>
    </table>
</main>