<header>
    <h1>Dnevnik</h1>
</header>
<nav><app-navigacija></app-navigacija>></nav>
<main>
    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Datum</th>
                <th scope="col">Vrijeme</th>
                <th scope="col">Metoda</th>
                <th scope="col">Akcija</th>
                <th scope="col">Traženi resurs</th>
                <th scope="col">Tijelo</th>
                <th scope="col">ID Korisnika</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</main>
<footer><app-podnozje></app-podnozje></footer>