<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/css">
    <script src="/js/profil.js"></script>
</head>
<body>
    <header>
        <h1>Profil</h1>
    </header>
    <main>
        @if(!promjeni){
        <div>
                    <h3>Ime</h3>
                    <p id="ime">{{korisnik?.ime}}</p>
                    <h3>Prezime</h3>
                    <p id="prezime">{{korisnik?.prezime}}</p>
                    <h3>Adresa</h3>
                    <p id="adresa">{{korisnik?.adresa}}</p>
                    <h3>E-mail</h3>
                    <p id="email">{{korisnik?.email}}</p>
                    <h3>Spol</h3>
                    <p id="spol">{{korisnik?.spol}}</p>
                    <h3>Zvanje</h3>
                    <p id="zvanje">{{korisnik?.zvanje}}</p>
                </div>
        <button type="button" (click)="postavi()">Promjeni podatke</button>
        }
        @if(promjeni){
            <div>
            <form action="#" method="post" id="formaProfil">
                <input type="text" name="ime" id="imeUnos" placeholder="Ime" [(ngModel)]="ime"><br>
                <input type="text" name="prezime" id="prezimeUnos" placeholder="Prezime" [(ngModel)]="prezime"><br>
                <input type="text" name="adresa" id="adresaUnos" placeholder="Adresa" [(ngModel)]="adresa"><br>
                <div>
                    <label class="radio" for="muskoUnos">Muško</label>
                    <input type="radio" name="spol" id="muskoUnos" value="Muško" [(ngModel)]="musko">
                    <label class="radio" for="zenskoUnos">Žensko</label>
                    <input type="radio" name="spol" id="zenskoUnos" value="Žensko" [(ngModel)]="zensko"><br>
                </div>
                <input type="text" name="zvanje" id="zvanjeUnos" placeholder="Zvanje" [(ngModel)]="zvanje"><br>
                <input type="text" name="lozinka" id="lozinkaUnos" placeholder="Lozinka" [(ngModel)]="lozinka"><br>
                <button type="button" (click)="azurirajPodatke()">Ažuriraj podatke</button>
            </form>
        </div>
        }
    </main>
</body>
</html>