<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/css">
    <script src="/js/profil.js"></script>
</head>
<body>
    <header>
        <h1>Profil</h1>
    </header>
    <main>
        <div>
            <h3>Ime</h3>
            <p id="ime"></p>
            <h3>Prezime</h3>
            <p id="prezime"></p>
            <h3>Adresa</h3>
            <p id="adresa"></p>
            <h3>E-mail</h3>
            <p id="email"></p>
            <h3>Spol</h3>
            <p id="spol"></p>
        </div>
        <h3>Promjeni podatke</h3>
        <div>
            <form action="#" method="post" id="formaProfil">
                <input type="text" name="ime" id="imeUnos" placeholder="Ime"><br>
                <input type="text" name="prezime" id="prezimeUnos" placeholder="Prezime"><br>
                <input type="text" name="adresa" id="adresaUnos" placeholder="Adresa"><br>
                <div>
                    <label class="radio" for="muskoUnos">Muško</label>
                    <input type="radio" name="spol" id="muskoUnos" value="Muško">
                    <label class="radio" for="zenskoUnos">Žensko</label>
                    <input type="radio" name="spol" id="zenskoUnos" value="Žensko"><br>
                </div>
                <input type="text" name="zvanje" id="zvanjeUnos" placeholder="Zvanje"><br>
                <input type="text" name="lozinka" id="lozinkaUnos" placeholder="Lozinka"><br>
                <button type="submit">Ažuriraj podatke</button>
            </form>
        </div>
    </main>
</body>
</html>