header {
    text-align: center;
    color: black;
    margin: {
        top: 5rem
    };
    padding: 20px 0;
}
main {
    max-width: 50%;
    margin: 0 auto;
    justify-content: center;
    font-family: Arial, sans-serif;

    #poruka{
        margin: 2rem auto;
    }
    
}