<header>
    <h1>Prijava</h1>
</header>
<main>
    <table>
        <tbody>
            <tr>
                <td>Korisničko ime</td>
                <td>Lozinka</td>
            </tr>
            <tr>
                <td>obican</td>
                <td>rwa</td>
            </tr>
            <tr>
                <td>admin</td>
                <td>rwa</td>
            </tr>
        </tbody>
    </table>
    <div id="poruka">#poruka#</div>
    <form action="#" method="POST" id="formaPrijava">
        <label for="korime">Korisničko ime</label>
        <input name="korime" type="text" id="korime">
        <br>
        <label for="lozinka">Lozinka</label>
        <input name="lozinka" type="password" id="lozinka">
        <br>
        <label for="totp">TOTP:</label>
        <input name="totp" id="totp" type="text">
        <br>
        <button type="submit">Prijava</button>
        <br>
        <button type="button">Prijavi se pomoću GitHuba</button>
    </form>
</main>