body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: white;
    color: black;
}
header{
    margin: 6rem 2rem 2rem;
}
main{
    margin: 2rem 2rem 6rem;
    padding: 3rem 0;
}
a{
    color: white;
    margin: 5px;
}
table {
    margin: 0 auto;
    width: 60%;
    border-collapse: collapse;

    td {
        padding: 8px;
        border: 1px solid #ccc;
    }
}
  
h1,h2,h3{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
/*********FORME**********/
#poruka {
    background-color: #ff3407;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto 15px;
    width: 40%;
    text-align: center;
  }
form {
    width: 22rem;
    margin: 20px auto 0;

    label {
        display: block;
        margin-bottom: 5px;
        width: 20rem;
    }
      
    label.obavezno {
        font-weight: bold; 
        color: #dc3545; 
        margin-right: 5px;
    }
    input[type="radio"], .radio{
        width: 20%;
        display: inline-block;
    }

    input,
    button {
        padding: 8px;
        margin: 0 auto 10px;
        width: 20rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: white;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }

    button[type="button"] {
        background-color: #333;
        color: white;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #000;
        }
    }
}
