.validatori{
    display: flex;
    justify-content: center;
}
.copy{
    position: relative;
}
footer{
    text-align: center;
    position: relative;
    width: 100%;
    background-color:#07226b ;
    padding: 20px 0;
}
.slikaHTML{
    height: 50px;
    width: 50px;
    margin: 0 auto;
    text-align: center;
}